{
  "plugins": [
    "transform-react-jsx",
    "emotion",
    "transform-class-properties"
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ]
}
